/* Color cuando está activo */
.custom-switch.ant-switch-checked {
  background-color: #7ec481;
}

/* Color cuando está inactivo */
.custom-switch {
  background-color: #b1544e;
}

/* Color del manejador */
.custom-switch.ant-switch-handle {
  border-color: white;
}

.custom-switch {
  transform: scale(1.1); /* Escala el interruptor */
}

/* Color de fondo al hacer hover cuando está activo */
.custom-switch.ant-switch-checked:hover .ant-switch-inner {
  background-color: #6db372; /* Cambia este color al que desees */
}

/* Color de fondo al hacer hover cuando está inactivo */
.custom-switch:hover .ant-switch-inner {
  background-color: #a54843; /* Cambia este color al que desees */
}

/* Aumentar la especificidad para asegurarse de que se apliquen los estilos */
.custom-switch.ant-switch-checked:hover,
.custom-switch.ant-switch-checked:hover .ant-switch-inner {
  background-color: #6db372 !important; /* Cambia este color al que desees */
}

.custom-switch:hover,
.custom-switch:hover .ant-switch-inner {
  background-color: #a54843 !important; /* Cambia este color al que desees */
}
