@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.stats {
    position: relative;
    overflow: hidden;
    color: black;
    font-size: 40px;
    padding: 30px 0px;
    font-weight: 600;
    }
    
    .stats_inner {
    display: flex;
    width: fit-content;
    flex: auto;
    flex-direction: row;
    }
    
    .stats_part {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      padding: 4px 4px;

    
    }